ultralytics
opencv-python
numpy
Pillow
matplotlib
pandas
fastapi
uvicorn
python-multipart
easyocr
setuptools
twine
wheel
transformers
python-dotenv
tqdm
joblib
python-dotenv
google-generativeai
pdf2image
